:root {
  --bg-light-theme: #e5e5e5;
  --title-light-theme: #303030;
  --text-light-theme: #555555;
  --text-dark-theme: #9da4bd;
  --title-dark-theme: #ffffff;
  --alternative-bg-color: #f7f7f7;
  --hover-color: #ff6c00;
  --rgba: rgba(157, 164, 189, 0.6);
  --timing-transition: 250ms linear;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* cost */
body {
  font-family: "Open Sans";
  font-style: normal;
}

.line::before {
  content: "";
  width: 60px;
  height: 1px;
}

.line {
  display: flex;
  align-items: center;
  gap: 20px;
}

.line-dark-color::before {
  background-color: var(--title-light-theme);
}

.line-light-color::before {
  background-color: var(--text-dark-theme);
}

.line-rgba::before {
  background-color: var(--rgba);
}

.button-section {
  background-color: inherit;
  border: 1px solid var(--hover-color);
  border-radius: 25px;
  padding: 12px 24.5px;
  display: block;
  transition: bacground-color var(--timing-transition),
    color var(--title-dark-theme);
}

.button-section:hover,
.button-section:focus {
  background-color: var(--hover-color);
  color: var(--title-dark-theme);
}

.online-button {
  background-color: inherit;
  color: var(--title-dark-theme);
  border: 1px solid var(--hover-color);
  border-radius: 25px;
  padding: 12px 38px;
  display: block;
}
/*header text */
.link-header {
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
/* текст кнопки */
.button-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

/* з рисками */
.section-info {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}
/* заголовок 1 герой */
.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--title-dark-theme);
}

.services-text {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme);
}
/*  */
.middle-text {
  font-weight: 400;
  letter-spacing: 0.02em;
}
/*  */
.small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
/* заголовок секцій */
.section-title {
  font-family: "Raleway";
  font-weight: 700;

  letter-spacing: 0.05em;
}
/*  */
.title-numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}
/* ім*я співробітника */
.name-workers {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/* назва роботи */
.job-workers {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}
/* інстаграм,ютуб */
.link-text {
  color: var(--title-light-theme);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

/*  */

/* header */

.wrapper-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header {
  fill: var(--title-light-theme);
  transition: fill var(--timing-transition);
}

.logo-header:hover,
.logo-header:focus {
  fill: var(--hover-color);
}

.sections-hover {
  color: var(--title-dark-theme);
  transition: color var(--timing-transition);
}

.sections-hover:hover,
.sections-hover:focus {
  color: var(--hover-color);
}

.addres {
  margin-left: auto;
}

.addres-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-header {
  display: flex;
}

.button-header {
  color: var(--title-dark-theme);
}

/* hero */

.container-hero {
  display: flex;
}

.wrapper-hero-link {
  display: flex;
  width: 70px;

  align-items: flex-end;

  margin-right: 30px;
}

.list-sochial-list {
  display: flex;
  /*використовується для визначення точки,
   навколо якої відбувається перетворення (transform)  */
  transform-origin: 0 0;
  align-items: center;
  transform: rotate(-90deg);
}

.social-link {
  transform: translateX(-15px);
}

.wrapper-content-hero {
  flex: 1;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.section-text-info {
  color: rgba(157, 164, 189, 0.6);
}

.expert-text {
  color: var(--text-dark-theme);
}

.hero-title,
.section-text-info {
  margin-bottom: 20px;
}

/* section2 */

.best-barbershop {
  display: flex;
}

.list-photo {
  display: flex;
  gap: 30px;
}
.link-social {
  color: var(--title-light-theme);
  transition: color var(--timing-transition);
}

.link-social:hover,
.link-social:focus {
  color: var(--hover-color);
}

.text-section-2 {
  color: var(--text-light-theme);
}
.section2_text {
  width: 536px;
}

.come-heare {
  margin-bottom: 20px;
  color: var(--text-light-theme);
}

.info-style,
.title-section2 {
  margin-bottom: 20px;
  color: var(--title-light-theme);
}

/*  */

.info-section3 {
  color: var(--rgba);
  margin-bottom: 20px;
}

.title-section3 {
  color: var(--title-dark-theme);
  margin-bottom: 44px;
}

.services-div {
  margin-bottom: 50px;
}
/* section3 */
.button-serviese {
  color: var(--title-dark-theme);
  margin-left: auto;
  margin-right: auto;
}

.table_1,
.table_2 {
  margin: 0;
  border: none;
  width: 100%;
}

.flex-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name-serviese-prise {
  display: flex;
  align-items: baseline;
}

.name-serviese {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
}

.prise {
  align-items: baseline;
}

.name-serviese::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgba(157, 164, 189, 0.12);
}

/* Why coming to us? */

.info-why-coming {
  color: var(--title-light-theme);
  margin-bottom: 20px;
}

.title-why-coming {
  color: var(--title-light-theme);
  margin-bottom: 20px;
}

.middle-why-coming {
  color: var(--text-light-theme);
}

.why-coming-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.why-coming-list-item {
  text-align: center;
  background-color: var(--alternative-bg-color);
}

.why-coming-list-item:nth-child(2n) {
  margin-top: 30px;
}

.why-coming-list-item:nth-child(2n + 1) {
  margin-bottom: 30px;
}

.number-ach {
  color: var(--title-light-theme);
  margin-bottom: 6px;
  display: inline;
  position: relative;
}

.numbers-plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: var(--hover-color);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, 25%);
}

.text-ach {
  color: var(--title-light-theme);
}

/* Наши мастера */
.our-masters {
  background-color: var(--alternative-bg-color);
}

.photo-master {
  width: 100%;
}
.our-masters-info {
  color: var(--title-light-theme);
  margin-bottom: 20px;
}

.our-masters-title {
  color: var(--title-light-theme);
  margin-bottom: 44px;
}

.workers-list-item {
  text-align: center;
}

.masters-info-container {
  padding-top: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.social-list-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--title-dark-theme);
  border-radius: 50%;
}

.social-icon {
  fill: var(--title-light-theme);
  transition: fill var(--timing-transition);
}

.social-link:hover .social-icon {
  fill: var(--hover-color);
}

/* Галерея */

.galery-info {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-light-theme);
  margin-bottom: 44px;
}

.photo-galery {
  width: 100%;
}

/*Онлайн запись и Контакты */

.contacts {
  background-color: #191c26;
}
.online-title {
  color: var(--title-dark-theme);
  margin-bottom: 44px;
}

.form-style {
  background-color: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  padding-bottom: 8px;
  text-transform: uppercase;

  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: var(--title-dark-theme);
  display: block;
  margin-bottom: 44px;
  transition: border-bottom-color var(--timing-transition);
}

.form-style::placeholder {
  color: rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  transition: color var(--timing-transition);
}

.form-style:focus {
  outline: none;
  border-bottom-color: var(--title-dark-theme);
}

.form-style:focus::placeholder {
  color: var(--title-dark-theme);
}

.online-input {
  height: 24px;
}

.online-textarea {
  resize: none;
  height: 76px;
}

.online-button {
  background-color: inherit;
  color: var(--title-dark-theme);
  border: 1px solid var(--hover-color);
  border-radius: 25px;
  padding: 12px 38px;
  display: block;
  cursor: pointer;
  transition: background-color var(--timing-transition);
}

.online-button:hover,
.online-button:focus {
  background-color: var(--hover-color);
}

.contacts-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts-title {
  color: var(--title-dark-theme);
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  color: var(--text-dark-theme);
  display: flex;
  gap: 16px;
  transition: color var(--timing-transition);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--hover-color);
}
.contacts-icon {
  fill: transparent;
  stroke: currentColor;
}

.time-info-title {
  color: var(--title-dark-theme);
  margin-bottom: 20px;
}

.time-info-title::before {
  background-color: rgba(157, 164, 189, 0.4);
}

.time-info {
  color: var(--text-dark-theme);
}

/* Footer */
.footer {
  background-color: var(--alternative-bg-color);
}
.footer-container {
  display: flex;
}

.media-list {
  gap: 40px;
}

.media-link-footer {
  color: var(--title-light-theme);
  transition: var(--timing-transition);
}

.media-link-footer:hover,
.media-link-footer:focus {
  color: var(--hover-color);
}

.copyright {
  color: var(--text-dark-theme);
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  .container {
    max-width: 480px;
    padding-right: 31px;
    padding-left: 31px;
  }

  .middle-text {
    font-size: 16px;
    line-height: 1.62;
  }

  .hero-title {
    font-size: 48px;
    line-height: 1.16;
  }

  .services-text {
    font-size: 14px;
    line-height: 2.14;
  }

  .section-title {
    font-size: 28px;
    line-height: 1.18;
  }

  .wrapper-hero-link {
    display: none;
  }

  .navigations-link {
    display: none;
  }

  .burger-menu {
    stroke: var(--title-dark-theme);
  }

  .addres {
    display: none;
  }

  .logo-header {
    fill: var(--title-dark-theme);
  }
  .wrapper-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .burger-menu {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 16px;
    stroke: #ffffff;
    background-color: transparent;
    border: none;
    margin-left: auto;
    cursor: pointer;
    transition: opacity var(--timing-transition);
  }

  .burger-menu:hover,
  .burger-menu:focus {
    opacity: var(--hover-color);
  }

  .nav-header {
    display: flex;
    align-items: center;
  }

  .wrapper-content-hero {
    padding-top: 208px;
    /* padding-right: 112px; */
    padding-bottom: 183px;
  }

  /*  */

  .list-photo {
    display: none;
  }

  .text-section-2 {
    margin-bottom: 40px;
  }

  /*  */

  .list-services {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hero-mobile {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../image/1x_mobil/bg_hero_mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  /*  rgb(25, 28, 38, 0.9),
        rgb(25, 28, 38, 0.9) */

  .section_services {
    background-image: linear-gradient(
        rgb(17, 19, 25, 0.8),
        rgb(17, 19, 25, 0.8)
      ),
      url(../image/1x_mobil/section_3bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* sec3 */

  .services-div {
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    );
    padding: 30px;
  }
  .flex-table_1 {
    margin-bottom: 20px;
  }

  /* Why coming */
  .why-coming {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  .why-coming-list-item {
    width: calc((100% - 30px) / 2);
    padding: 20px 36px;
  }

  /* Наши мастера */
  .our-masters {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  /* Галерея */
  .galery {
    padding-top: 84px;
    padding-bottom: 84px;
  }
  .galery-info {
    line-height: 1.91;
  }

  .galery-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  /*Онлайн запись и контакты */

  .contacts {
    background-repeat: no-repeat;
    background-size: auto 484px;
    background-position: bottom;
  }
  .online-container {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  .online-title {
    text-align: center;
  }
  .form-style {
    width: 100%;
  }

  .contacts-container {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  .online-button {
    margin-right: auto;
    margin-left: auto;
  }

  .contacts-title {
    text-align: center;
  }

  .contacts-list {
    margin-bottom: 44px;
  }

  /*Footer*/
  .footer {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .footer-container {
    flex-direction: column;
    row-gap: 20px;
  }

  .media-list {
    margin-left: auto;
  }
}

/* Мобилка и планшет */
@media screen and (max-width: 1199px) {
  /*Почему к нам */

  .middle-why-coming {
    margin-bottom: 44px;
  }
  /*Наши работники */

  .workers-list-item:not(:last-child) {
    margin-bottom: 64px;
  }

  /* Онлайн запись и контакты */
  .contacts-title {
    margin-bottom: 40px;
  }
}

/*Только планшет*/

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-mobile {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../image/2x_mobil/bg_hero_mobile@2x.jpg);
  }
  .section_services {
    background-image: linear-gradient(
        rgb(17, 19, 25, 0.8),
        rgb(17, 19, 25, 0.8)
      ),
      url(../image/2x_mobil/section_3bg@2x.jpg);
  }
}

@media screen and (min-width: 767px) {
  .burger-menu {
    display: none;
  }

  .wrapper-header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .wrapper-content-hero {
    padding-top: 272px;
  }

  .logo {
    margin-right: 70px;
  }

  .navigations-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-sochial-list {
    column-gap: 40px;
    padding: 0;
  }

  .list-sochial-list::before {
    content: "";
    background-color: var(--title-light-theme);
    width: 1px;
    height: 60px;
    margin-right: 40px;
    transform: rotate(-90deg);
  }
  .title-why-coming {
    max-width: 420px;
  }

  .middle-why-coming {
    max-width: 500px;
  }
  /* Галерея*/
  .galery-info {
    line-height: 1.36;
  }

  .galery-list {
    display: flex;
  }

  /*Онлайн запись и контакты*/

  .online-form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  .online-input {
    width: calc((100% - 30px) / 2);
  }

  .online-textarea {
    width: 100%;
  }

  .contacts-mini-container {
    display: flex;
  }

  /*Footer */
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .footer-container {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container {
    width: 768px;
    padding-right: 39px;
    padding-left: 39px;
    margin-left: auto;
    margin-right: auto;
  }

  .middle-text {
    font-size: 16px;
    line-height: 1.62;
  }

  .hero-title {
    font-size: 48px;
    line-height: 1.16;
  }

  .section-title {
    font-size: 26px;
    line-height: 1.11;
  }

  .services-text {
    font-size: 18px;
    line-height: 1.67;
  }

  .navigations-link {
    column-gap: 24px;
  }
  .number {
    display: none;
  }

  .wrapper-content-hero {
    padding-bottom: 245px;
    padding-left: 120px;
  }

  /* hero */

  /* section2 */
  .list-photo {
  }

  .list-photo {
    flex-direction: column;
  }

  .wrapper-content-hero {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../image/1x_tablet/bg_hero_tablet.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .expert-text {
    width: 355px;
  }

  .foto-section2 {
    width: 320px;
  }

  .text-section-2 {
    margin-bottom: 40px;
  }

  .list-photo {
    margin-right: 30px;
  }
  /* sec3 */

  .foto-section2 {
    width: 330px;
    height: 235px;
  }

  .come-heare,
  .text-section-2,
  .title-section2,
  .section2_text {
    width: 330px;
  }

  .section_services {
    background-image: linear-gradient(
        rgba(17, 19, 25, 0.8),
        rgba(17, 19, 25, 0.8)
      ),
      url(../image/1x_tablet/bg_hero_tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .services-div {
    background-image: linear-gradient(
      rgba(23, 26, 36, 1),
      rgba(23, 26, 36, 0.2)
    );
    padding: 30px 40px;
  }
  .flex-table_1 {
    margin-bottom: 20px;
  }
  /* Почему к нам идут бородатые зомби */

  .why-coming {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .why-coming-list-item {
    padding: 20px 44px;
    max-width: 210px;
  }

  .why-coming-list-item:nth-child(2n + 1) {
    margin-left: 240px;
  }

  /*Наши мастера*/
  .our-masters {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .our-masters-container {
    padding-left: 159px;
    padding-right: 159px;
  }

  /*Галерея*/
  .galery {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .galery-list {
    flex-wrap: wrap;
    gap: 30px 30px;
  }
  .galery-list-item {
    width: calc((100% - 30px) / 2);
  }

  /*Онлайн запись и контакты */

  .contacts {
    background-repeat: no-repeat;
    background-size: auto 450px;
    background-position: bottom;
  }

  .contacts-mini-container {
    column-gap: 30px;
  }

  .online-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contacts-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .mini-container-item {
    width: calc((100% - 30px) / 2);
  }

  .contacts-link-text {
    max-width: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and(min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .wrapper-content-hero {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../image/2x_tablet/bg_hero_tablet@2x.jpg);
  }

  .section_services {
    background-image: linear-gradient(
        rgba(17, 19, 25, 0.8),
        rgba(17, 19, 25, 0.8)
      ),
      url(../image/2x_tablet/section_3bg_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .repetitive-text {
    display: none;
  }

  .middle-text {
    font-size: 18px;
    line-height: 1.67;
  }

  .services-text {
    font-size: 18px;
    line-height: 1.67;
  }

  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }

  .section-title {
    font-size: 42px;
    line-height: 1.17;
  }

  .navigations-link {
    column-gap: 40px;
  }

  .addres-list {
    column-gap: 40px;
  }

  /*  */

  .wrapper-content-hero {
    padding-bottom: 206px;
    padding-left: 100px;
    width: 500px;
    padding-right: 470px;
    background-image: url(../image/1x_desktop/bg_hero_desktop.jpg);
  }

  /*  section2 */

  .list-photo {
    margin-right: 31px;
  }

  .list-photo-card {
    width: ((100% - 30px) / 2);
  }

  .text-section-2 {
    margin-bottom: 42px;
  }

  /* sec3 */

  .section_services {
    background-image: linear-gradient(
        rgba(23, 26, 36, 0.8),
        rgba(23, 26, 36, 0.8)
      ),
      url(../image/1x_desktop/section_3bg_desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .services-div {
    display: flex;
  }

  .table_1,
  .table_2 {
    padding: 30px 40px;
  }

  .table_1 {
    background-image: linear-gradient(
      rgba(23, 26, 36, 1),
      rgba(23, 26, 36, 0.2)
    );
  }

  .table_2 {
    background-image: linear-gradient(rgba(9, 11, 19, 1), rgba(9, 11, 19, 0.2));
  }
  /*Почему к нам */
  .why-coming {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .why-coming-container {
    display: flex;
    column-gap: 130px;
    flex-direction: row-reverse;
  }

  .why-coming-mini-container {
    margin-right: 100px;
  }

  .why-coming-list {
    margin-left: 100px;
    max-width: 370px;
    margin-top: -9px;
  }

  .why-coming-list-item {
    padding: 20px 24px;
    max-width: 170px;
  }

  /* Наши мастера */
  .our-masters {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .workers-list {
    display: flex;
    column-gap: 30px;
  }
  .workers-list-item {
    width: calc((100% - 60px) / 3);
  }

  /* Галерея */
  .galery {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .galery-list {
    column-gap: 30px;
  }

  /* Онлайн запись и контакті*/
  .contacts {
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: right top;
  }
  .online-contacts-container {
    display: flex;
  }

  .online-container {
    width: calc(100% / 2);
    padding-top: 130px;
    padding-right: 40px;
  }

  .contacts-container {
    width: calc(100% / 2);
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
  }

  .contacts-title {
    margin-bottom: 44px;
  }

  .contacts-mini-container {
    flex-direction: column;
  }

  .mini-container-item {
    margin-bottom: 66px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .wrapper-content-hero {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../image/2x_desktop/bg_hero_desktop@2x.jpg);
  }

  .section_services {
    background-image: linear-gradient(
        rgba(17, 19, 25, 0.8),
        rgba(17, 19, 25, 0.8)
      ),
      url(../image/2x_desktop/section_3bg_desktop@2x.jpg);
  }
}

/*Mobile menu*/
/* .menu-button {
  background-color: transparent;
  border: none;
  fill: var(--title-dark-theme);
} */

.menu-button:hover,
.menu-button:focus {
  fill: var(--hover-color);
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 337px;
  height: 100vh;
  background-color: var(--title-dark-theme);
  z-index: 999;
  padding: 118px 40px 118px 31px;

  transform: translateX(100%);
  transition: transform var(--timing-transition);
}

.menu-container.is-open {
  transform: translateX(0);
}

.close-menu-btn {
  position: absolute;
  top: 48px;
  right: 31px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.close-menu-btn:hover,
.close-menu-btn:focus {
  fill: var(--hover-color);
}

.close-icon {
  transition: fill var(--timing-transition);
}

.mobile-nav-list {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.mobile-nav-link {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: var(--title-light-theme);
  transition: color var(--timing-transition);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: var(--hover-color);
}

.mobile-tel {
  margin-bottom: 24px;
  display: block;
}

.mobile-button {
  text-transform: uppercase;
  padding: 12px 42px;
  color: var(--title-light-theme);
  background-color: transparent;
  border: 1px solid var(--hover-color);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color var(--timing-transition),
    color var(--timing-transition);
  margin-bottom: 64px;
}

.mobile-button:hover,
.mobile-button:focus {
  background-color: var(--hover-color);
  color: var(--title-dark-theme);
}

.mobile-media-container::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--title-light-theme);
  display: flex;
  margin-right: 40px;
}

.mobile-media-container {
  display: flex;
  align-items: baseline;
}

.mobile-media-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.mobile-media-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: var(--title-light-theme);
  transition: color var(--timing-transition);
}

.mobile-media-link:hover,
.mobile-media-link:focus {
  color: var(--hover-color);
}
.contacts {
  background-color: #191c26;
}
/*Задний фон Контактов*/
/*Mobile contacts image*/
@media screen and (max-device-pixel-ratio: 1) and (max-width: 767px),
  screen and (max-resolution: 96dpi) and (max-width: 767px),
  screen and (max-resolution: 1dppx) and (max-width: 767px) {
  .contacts {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.9),
        rgba(25, 28, 38, 0.9)
      ),
      url(../images/mobile-bg-contacts.jpg);
  }
}
/* Screen 2px - before 768px */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .contacts {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.9),
        rgba(25, 28, 38, 0.9)
      ),
      url("../image/mobile-bg-contacts-2x.jpg");
  }
}
/* Tablet contacts image */
@media screen and (max-divice-pixel-ratio: 1) and (min-width: 768px) and (max-width: 1199px),
  screen and (max-resolution: 96dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (max-resolution: 1dppx) and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.9),
        rgba(25, 28, 38, 0.9)
      ),
      url("../image/tablet-bg-contacts.jpg");
  }
}
/* Tablet contacts image 2px */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.9),
        rgba(25, 28, 38, 0.9)
      ),
      url("../image/tablet-bg-contacts-2x.jpg");
  }
}
/* Desktop contacts image */
@media screen and (max-device-pixel-ratio: 1) and (min-width: 1158px),
  screen and (max-resolution: 96dpi) and (min-width: 1158px),
  screen and (max-resolution: 1dppx) and (min-width: 1158px) {
  .contacts {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.9),
        rgba(25, 28, 38, 0.9)
      ),
      url("../image/desktop-bg-contacts.jpg");
  }
}
/* Desktop contacts image 2px */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .contacts {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.9),
        rgba(25, 28, 38, 0.9)
      ),
      url("../image/desktop-bg-contacts-2x.jpg");
  }
}
